# jail firewall rules
# Example Interface: em0
# List of Ports:
#   Host SSH: 4567
#    HOST WEBERVER: 8080,4443
#   JAIL SSH: 7890
#   JAIL WEB SERVER: 80, 443
#   JAIL DNS SERVER: 53

IPF="ipfw -q add"
ipfw -q -f flush

# Replace with your interface
PIF="em0"

# Host IP
inet="172.16.83.84"

# Jail IP
jail="1.2.3.4"

$IPF 10 allow all from any to any via lo0
$IPF 15 allow all from any to 127.0.0.0/8
$IPF 20 deny all from any to 127.0.0.0/8
$IPF 25 deny all from 127.0.0.0/8 to any
$IPF 40 deny tcp from any to any frag

$IPF 41 allow tcp from any to me 4567 established

# Allow out NATed traffic from Jail. This is DNATed traffic.
$IPF 45 divert natd ip from $jail to not me out via $PIF
$IPF 46 skipto 10000 ip from any to any diverted

# Allow remaining all outgoing traffic
$IPF 110 allow all from me to any out

# Allow NATed traffic to Jail. This is SNATed traffic. natd (NAT daemon) will take care of these.
$IPF 150 divert natd ip from not me to any in via $PIF
$IPF 160 skipto 10000 ip from any to any diverted

# Allow ICMP from friendly subnet and deny the rest
$IPF 165 allow icmp from 172.16.83.0/83 to me
$IPF 166 deny icmp from any to any

# Allow inbound ports to host services with maximum 2 concurrent connections
# We will not add Jail services ports here. They are specified in natd config file. 
$IPF 171 allow tcp from any to $inet 4567 in via $PIF setup limit src-addr 2
$IPF 172 allow tcp from any to $inet 8080 in via $PIF setup limit src-addr 2
$IPF 173 allow tcp from any to $inet 4443 in via $PIF setup limit src-addr 2

# Log an deny the traffic
$IPF 500 deny log logamount 10000 ip from any to any

# This is where all diverted NAT traffic are skipped to after being processed.
$IPF 10000 allow ip from any to any
